// Body
//$body-bg: white;
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$primary: #21b568;
$secondary: #3e4257;

