// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import "select2/dist/css/select2.min.css";
@import 'select2-bootstrap-theme/dist/select2-bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@400&display=swap');
// Body
//$body-bg: white;
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$primary: #21b568;
$secondary: #212529;
$tertiary: #126037;

